<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net462" />
  <package id="ControlzEx" version="4.1.0" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net462" />
  <package id="MahApps.Metro" version="2.0.0-alpha0490" targetFramework="net462" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net462" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net462" />
  <package id="Prism.Wpf" version="7.2.0.1367" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>